
build/
dist/
*.exe
# Node.js
node_modules/
npm-debug.log

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Java
*.class
*.jar



/机械
/姿态解算&运动估计
/EC_resources/Install
/EC_resources/tutorial/屏幕录制*
/WorkSpace/sw_workspace
/MachineLearning/Yolo/from_yufeng
/WorkSpace/stm32_workspace/wheel_odom
*.img
*正点原子*
/CQ09
/EC_resources/install
/EC_resources/brochure
/EC_resources/Lib
/EC_resources/往届比赛经验
/MachineLearning/李宏毅*
/others
/K230/CSIETPP/code/datasets
/K230/CSIETPP/yolo11
/MachineLearning/Yolo/tools/X_Anylabeling_sam2_env/X-AnyLabeling
MachineLearning/Yolo/tools/X-AnyLabeling-env/X-AnyLabeling
